In [1]:
import pandas as pd
import numpy as np

In [15]:
suicide_df = pd.read_csv('suicide/tweets.csv')
suicide_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,likes_count,hashtags,cashtags,link,retweet,quote_url,video,user_rt_id,near,geo
0,1152996044604682241,1152996044604682241,1563730653000,2019-07-21,10:37:33,PDT,2958699552,imonlylj,Misunderśtøød x Mìdaś ㊗️️,NaN,...,0,[],[],https://twitter.com/ImonlyLj/status/1152996044...,NaN,NaN,0,NaN,NaN,NaN
1,1152995993148899329,1152995993148899329,1563730641000,2019-07-21,10:37:21,PDT,29907109,_kingneal,King.,NaN,...,0,[],[],https://twitter.com/_kingneal/status/115299599...,NaN,NaN,0,NaN,NaN,NaN
2,1152995985053900800,1152995985053900800,1563730639000,2019-07-21,10:37:19,PDT,1152971452846694401,ventingbroken,Venting (More people are broken than it seems),NaN,...,0,[],[],https://twitter.com/VentingBroken/status/11529...,NaN,NaN,0,NaN,NaN,NaN
3,1152995984642887683,1152995984642887683,1563730639000,2019-07-21,10:37:19,PDT,2561945708,awesome_thebest,Just me,NaN,...,0,[],[],https://twitter.com/awesome_thebest/status/115...,NaN,NaN,0,NaN,NaN,NaN
4,1152995955559620608,1152995955559620608,1563730632000,2019-07-21,10:37:12,PDT,891371293563596800,drmo7og,Dr.mo7og,NaN,...,0,"['#sam', '#suicide']",[],https://twitter.com/DrMo7oG/status/11529959555...,NaN,NaN,0,NaN,NaN,NaN

In [16]:
suicide_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)
suicide_df.head()

,id,time,tweet,hashtags,cashtags
0,1152996044604682241,10:37:33,Suicide Thoughts ....,[],[]
1,1152995993148899329,10:37:21,If I wake up as a white person in my next life...,[],[]
2,1152995985053900800,10:37:19,I fixed my bio (Cant add a banner because Twit...,[],[]
3,1152995984642887683,10:37:19,Weaponizign Suicide disturbs me a lot Cardi B ...,[],[]
4,1152995955559620608,10:37:12,#sam harcelé par ses camarades de classe se #s...,"['#sam', '#suicide']",[]

In [17]:
lonely_df = pd.read_csv('lonely/tweets.csv')
lonely_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,likes_count,hashtags,cashtags,link,retweet,quote_url,video,user_rt_id,near,geo
0,1152982582843326466,1152982582843326466,1563727443000,2019-07-21,09:44:03,PDT,1151002890573701120,monbebe93,제시카,NaN,...,0,[],[],https://twitter.com/monbebe93/status/115298258...,NaN,https://twitter.com/OI_IO999/status/1152978766...,0,NaN,NaN,NaN
1,1152982578741284865,1152916420587675648,1563727442000,2019-07-21,09:44:02,PDT,1065697539259854849,sugarplum_skz,lonely wolf,NaN,...,0,[],[],https://twitter.com/sugarplum_skz/status/11529...,NaN,NaN,0,NaN,NaN,NaN
2,1152982577181024259,1152976191781048322,1563727442000,2019-07-21,09:44:02,PDT,704212959950667776,lonely_walsh,Elizabeth,NaN,...,0,[],[],https://twitter.com/lonely_walsh/status/115298...,NaN,NaN,0,NaN,NaN,NaN
3,1152982576153239552,1152982576153239552,1563727442000,2019-07-21,09:44:02,PDT,284959188,lonelyoakradio,Lonely Oak radio,NaN,...,0,['#nowplaying'],[],https://twitter.com/LonelyOakRadio/status/1152...,NaN,NaN,0,NaN,NaN,NaN
4,1152982566263296000,1152982566263296000,1563727439000,2019-07-21,09:43:59,PDT,144328187,noelle_amor,YaYa🌹,NaN,...,0,[],[],https://twitter.com/Noelle_Amor/status/1152982...,NaN,NaN,0,NaN,NaN,NaN

In [18]:
lonely_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)
lonely_df.head()

,id,time,tweet,hashtags,cashtags
0,1152982582843326466,09:44:03,i dont know why but he looks so lonely in this...,[],[]
1,1152982578741284865,09:44:02,Я после того как увидела их начала отращивать ...,[],[]
2,1152982577181024259,09:44:02,Even follow you on all social networks,[],[]
3,1152982576153239552,09:44:02,"#Nowplaying: Garmonsway, Gibbon and Harrington...",['#nowplaying'],[]
4,1152982566263296000,09:43:59,Laying in this hammock every Sunday alone is g...,[],[]

In [19]:
hopeless_df = pd.read_csv('hopeless/tweets.csv')
hopeless_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)
hopeless_df.head()

,id,time,tweet,hashtags,cashtags
0,1151526536471728134,09:18:15,"Hopeless, crazed, and dispossessed, I walked o...",[],[]
1,1151526442922139649,09:17:52,KAP haberini beklerken serSERİn olmuştuk,[],[]
2,1151526396210110464,09:17:41,17-july-2019. 🦉💛.,[],[]
3,1151526283890683904,09:17:15,เป็นไรสาวน้อย,[],[]
4,1151526267738628097,09:17:11,انا قاعده اعيش اسعد ايام حياتي💛.,[],[]

In [24]:
depression_df = pd.read_csv('depression/depressive_unigram_tweets.csv')
depression_df.head()

C:\Users\91810\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,id,time,tweet,hashtags,cashtags
0,0,1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1,1.15135E+18,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,2,1.15135E+18,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,3,1.15135E+18,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,4,1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]

In [26]:
depression_df.drop(['Unnamed: 0'], axis = 1, inplace = True)
depression_df.head()

,id,time,tweet,hashtags,cashtags
0,1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",[],[]
1,1.15135E+18,21:25:07,what part of this was really harmfult of a lot...,[],[]
2,1.15135E+18,21:25:06,one of the ways I got through my #depression i...,"['#depression', '#uncoveringthenewu', '#change...",[]
3,1.15135E+18,21:24:55,see i wanna do one of them but they all say th...,[],[]
4,1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...,[],[]

In [13]:
depressed_df = pd.read_csv('depressed/tweets.csv')
depressed_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,likes_count,hashtags,cashtags,link,retweet,quote_url,video,user_rt_id,near,geo
0,1151315262748205057,1151313086525116421,1563329923000,2019-07-16,19:18:43,PDT,930813312786366464,keytodepress,Cupid,NaN,...,0,[],[],https://twitter.com/KeytoDepress/status/115131...,NaN,NaN,0,NaN,NaN,NaN
1,1151315254615400448,1151314716091985920,1563329921000,2019-07-16,19:18:41,PDT,771371705063370752,_ron_247,MCKAY SEASON SZN (52-39),NaN,...,0,[],[],https://twitter.com/_ron_247/status/1151315254...,NaN,NaN,0,NaN,NaN,NaN
2,1151315222692429825,1151315222692429825,1563329914000,2019-07-16,19:18:34,PDT,1020503873369194496,jan550n,elizabeth,NaN,...,0,[],[],https://twitter.com/jan550n/status/11513152226...,NaN,NaN,0,NaN,NaN,NaN
3,1151315218011549696,1151315218011549696,1563329913000,2019-07-16,19:18:33,PDT,2812237658,ran_engbot,Ran Yakumo,NaN,...,0,[],[],https://twitter.com/ran_engbot/status/11513152...,NaN,NaN,0,NaN,NaN,NaN
4,1151315209413386240,1151315209413386240,1563329910000,2019-07-16,19:18:30,PDT,4833251469,sasstelligence,"Stressed, Depressed Espressos",NaN,...,1,[],[],https://twitter.com/Sasstelligence/status/1151...,NaN,NaN,0,NaN,NaN,NaN

In [14]:
depressed_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)
depressed_df.head()

,id,time,tweet,hashtags,cashtags
0,1151315262748205057,19:18:43,Listen!! IM SORRY!! With her elder spirits g...,[],[]
1,1151315254615400448,19:18:41,Im so pissed and depressed at the same time,[],[]
2,1151315222692429825,19:18:34,"I’m just a hot mess that’s stressed, depressed...",[],[]
3,1151315218011549696,19:18:33,Chen's probably depressed too since she's no l...,[],[]
4,1151315209413386240,19:18:30,"Do you like it when I shake it for ya, daddy? ...",[],[]

In [20]:
antidepressants_df = pd.read_csv('antidepressants/tweets.csv')
antidepressants_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)
antidepressants_df.head()

,id,time,tweet,hashtags,cashtags
0,1152995178359218176,10:34:06,i can't think logically and all of shit i say ...,[],[]
1,1152994945537576960,10:33:11,Recently moved to Australia and was ASTOUNDED ...,[],[]
2,1152994834359209985,10:32:44,Maybe I should go back on my antidepressants. ...,[],[]
3,1152994452606033920,10:31:13,What It’s Like to Know You’ll Be on Antidepres...,[],[]
4,1152994432188370949,10:31:08,Do antidepressants work? :/,[],[]

In [21]:
antidepressant_df = pd.read_csv('antidepressant/tweets.csv')
antidepressant_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)
antidepressant_df.head()

,id,time,tweet,hashtags,cashtags
0,1152991919137538048,10:21:09,I hate that the antidepressants made me feel w...,[],[]
1,1152991631722913793,10:20:01,Your beliefs ultimately are manifested in your...,[],[]
2,1152991531789406209,10:19:37,I think current trends lead to a world where e...,[],[]
3,1152991116733628416,10:17:58,Anti-Depressants and Recovery https://www.mar...,"['#medication', '#antidepressants', '#eatingdi...",[]
4,1152990783420751872,10:16:38,Have you thought about getting a sleep study d...,[],[]

In [27]:
depressive_twint_tweets_df = pd.concat([suicide_df,lonely_df,hopeless_df,depression_df,depressed_df,antidepressants_df,antidepressant_df], ignore_index = True)
depressive_twint_tweets_df.drop_duplicates()
depressive_twint_tweets_df

,id,time,tweet,hashtags,cashtags
0,1152996044604682241,10:37:33,Suicide Thoughts ....,[],[]
1,1152995993148899329,10:37:21,If I wake up as a white person in my next life...,[],[]
2,1152995985053900800,10:37:19,I fixed my bio (Cant add a banner because Twit...,[],[]
3,1152995984642887683,10:37:19,Weaponizign Suicide disturbs me a lot Cardi B ...,[],[]
4,1152995955559620608,10:37:12,#sam harcelé par ses camarades de classe se #s...,"['#sam', '#suicide']",[]
...,...,...,...,...,...
246104,1152369599368892416,17:08:17,Ha all the fuckers saying I don’t have depress...,[],[]
246105,1152369434520104962,17:07:37,My parents make me feel even worse about mysel...,[],[]
246106,1152368694263275520,17:04:41,I stopped taking my antidepressants and now I ...,[],[]
246107,1152368663833354241,17:04:34,Antidepressants Reduce Death by One-Third in D...,['#mentalhealth'],[]
246108,1152367558420340736,17:00:10,https://medtally.com/post/effects-of-pain-ins...,"['#depression', '#depressed', '#antidepressant...",[]

In [28]:
# export_csv = depressive_twint_tweets_df.to_csv(r'depressive_unigram_tweets_final.csv')

In [29]:
df = pd.read_csv('depressive_unigram_tweets_final.csv')
df

C:\Users\91810\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,1,2,3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Unnamed: 0.1,cashtags,hashtags,id,time,tweet
0,0,0,[],[],1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid..."
1,1,1,[],[],1.15135E+18,21:25:07,what part of this was really harmfult of a lot...
2,2,2,[],"['#depression', '#uncoveringthenewu', '#change...",1.15135E+18,21:25:06,one of the ways I got through my #depression i...
3,3,3,[],[],1.15135E+18,21:24:55,see i wanna do one of them but they all say th...
4,4,4,[],[],1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...
...,...,...,...,...,...,...,...
2783571,225172,NaN,[],[],1.15237e+18,17:00:17,えっ？！オニィ結構なお歳……（今知った） 変な声でちゃった(笑)
2783572,225173,NaN,[],"['#physicianfriday', '#suicide', '#physicians'...",1.15237e+18,17:00:12,"#PhysicianFriday ""Let's empower doctors to tak..."
2783573,225174,NaN,[],"['#aztrauma', '#traumatraining', '#suicide', '...",1.15237e+18,17:00:01,A spike in suicides among teenage boys in the ...
2783574,225175,NaN,[],[],1.15237e+18,17:00:00,Need some support? Check out the following res...
2783575,225176,NaN,[],[],1.15237e+18,17:00:00,You can improve the quality of life for a frie...